<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssh.sustain_a">

    <!--안드로이드 프로젝트의 기본적인 설정이 담겨있습니다.
    액티비티 등을 추가하여 자동으로 생성되는 경우가 아니면 절대 건드리지 맙시다.-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sustain_a">

        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>